.scoreboard {
  background-color: black;
  display: flex;
  align-self: center;
  justify-content: space-around;
  width: 300px;

  &__score {
    color: white;
  }

  &__highscore {
    color: white;
  }
}
